<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        internalLogLevel="Warn"
        internalLogFile="c:\temp\internal.txt">


  <extensions>
    <!--enable NLog.Web for ASP.NET Core-->
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="DebugLogFile" fileName="../../../../Logs/ThesaurusLog/Debug.LOG" layout="${longdate}|${logger}|${uppercase:${level}}|${message}" />
    <target xsi:type="File" name="ManagedLogFile" fileName="../../../../Logs/ThesaurusLog/Managed.LOG" layout="${longdate}|${logger}|${uppercase:${level}}|${message}" />
    <target xsi:type="File" name="UnmanagedLogFile" fileName="../../../../Logs/ThesaurusLog/Unmanaged.LOG" layout="${longdate}|${logger}|${uppercase:${level}}|${message}" />
    <target xsi:type="File" name="CriticalLogFile" fileName="../../../../Logs/ThesaurusLog/Critical.LOG" layout="${longdate}|${logger}|${uppercase:${level}}|${message}" />
    <target xsi:type="File" name="SecurityLogFile" fileName="../../../../Logs/ThesaurusLog/Security.LOG" layout="${longdate}|${logger}|${uppercase:${level}}|${message}" />
    <target xsi:type="File" name="InfoLogFile" fileName="../../../../Logs/ThesaurusLog/Info.LOG" layout="${longdate}|${logger}|${uppercase:${level}}|${message}" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft--><!--
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    --><!--Skip Microsoft logs - no writeTo attribute--><!--
    <logger name="*" minlevel="Trace" writeTo="ownFile" />-->

    <logger name="Microsoft.*" minlevel="Trace" final="true" />

    <logger name="ThesaurusLogger" levels="Debug" writeTo="DebugLogFile"/>
    <logger name="ThesaurusLogger" levels="Info" writeTo="InfoLogFile"/>
    <logger name="ThesaurusLogger" levels="Error" writeTo="UnmanagedLogFile"/>
    <logger name="ThesaurusLogger" levels="Warn,Fatal" writeTo="CriticalLogFile"/>
    <logger name="ThesaurusLogger" levels="Warn,Error" writeTo="SecurityLogFile"/>
    <logger name="ThesaurusLogger" levels="Warn,Error" writeTo="ManagedLogFile"/>
  </rules>
</nlog>